$primary-color: #212121;
$title-text-color: #757575;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$background-dark: #2f303a;
$background-light: #f5f4fa;
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;

